
<div class="card-container">
  <mat-card class="main-div">
  <div class="card-top">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>GROCERY LIST</mat-card-title>
      <mat-card-subtitle>{{date | date:'longDate'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <p>
        <mat-form-field appearance="legacy" [style.width.px]=400>
          <mat-label>Add items to the list</mat-label>
          <input matInput placeholder="" [(ngModel)] = "todoitem" (keyup.enter) = "addtolist()"/>
          <mat-icon matSuffix>add_task</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>

    <ng-container class="card-items" *ngFor = "let todo of todofilter()">
      <mat-card class="items">
        <span><mat-checkbox class="example-checkbox"  [(ngModel)] = "todo.completed" ></mat-checkbox></span>
        <span *ngIf="!todo.edit; else editingTodo"  [ngClass] = "{'completed':todo.completed}">{{todo.title}}</span>
        <ng-template #editingTodo>
          <span><input type="text" #myinput [(ngModel)] = "todo.title" (blur) = "doneedit(todo)" (keyup.enter) = "doneedit(todo)" appAutofocus></span>
        </ng-template>
        <span><mat-icon matSuffix class="delete" (click)="deletelist(todo.id)">delete_outline</mat-icon></span>
        <span> <mat-icon matSuffix class="edit" (click) = "editlist(todo)">edit_note</mat-icon></span>
      </mat-card>
    </ng-container>


    <section>

      <div class="example-button-row">
        <button mat-button color="primary" [class.active]="filter == 'all'" (click) = "filter = 'all'">All</button>
        <button mat-button color="primary" [class.active]="filter == 'completed'" (click) = "filter = 'completed'">Completed</button>
        <button mat-button color="primary" [class.active]="filter == 'active'" (click) = "filter = 'active'">Active</button>
      </div>

      <div class="clear">
        <button mat-button color="primary" class="clearall" [class.active]="filter == 'checkall'" (click) = "selectall()" >Check All</button>
        <button mat-button color="primary" class="clearall" [class.active]="filter == 'clear'" (click) = "filter = 'clear'" >Clear List</button>
      </div>
    </section>

    </mat-card-content>

  </div>
  </mat-card>
</div>

