
.card-container {
  margin:auto;
  padding-top: 45px;
  width:100%;
  align-items: center;
  justify-content: center;
  display: flex;

}

.main-div{
max-width: 450px;
width:100%;
border-radius: 15%;
}

.header-image {
  background-image: url('/assets/img/grocery.jpg');
  background-size: cover;
}

.card-top{
  padding: 20px;
}

input[type="text"] {
  width: 200px;
  height:30px;
}

input{
  outline-color:mediumvioletred
}

.card-items {
  display:flex;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.items{
  margin-top:15px;

}

mat-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 27px rgba(177, 105, 105, 0.35);
  cursor: pointer;

}

.example-checkbox {
  padding-right:10px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691;
}


.example-button-row {
  padding-top: 20px;
  padding-left:70px;
  padding-right:-40px
}

.edit{
  opacity:0.6;
  float:right;
  cursor: pointer;
}

.delete {
  opacity:0.6;
  float:right;
  padding-left:20px;
  cursor: pointer;
}

.clear{
  padding-left:70px
}






