
<div class="card-container">
  <mat-card class="main-div">
  <div class="card-top">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>GROCERY LIST</mat-card-title>
      <mat-card-subtitle>{{date | date:'longDate'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field appearance="legacy" [style.width.px]=400>
          <mat-label>Add items to the list</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>add_task</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
    <ng-container >
      <mat-card class="items">
        <span><mat-checkbox class="example-checkbox"> Buy Milk </mat-checkbox></span>
        <span><mat-icon matSuffix class="delete">delete_outline</mat-icon></span>
        <span> <mat-icon matSuffix class="edit">edit_note</mat-icon></span>
      </mat-card>
      <mat-card class="items">
        <span><mat-checkbox  class="example-checkbox">Choclates and Icecreams</mat-checkbox></span>
        <span><mat-icon matSuffix class="delete">delete_outline</mat-icon></span>
        <span> <mat-icon matSuffix class="edit">edit_note</mat-icon></span>
      </mat-card>
      <mat-card class="items">
        <span><mat-checkbox class="example-checkbox"> Cookies and Cakes </mat-checkbox></span>
        <span><mat-icon matSuffix class="delete">delete_outline</mat-icon></span>
        <span> <mat-icon matSuffix class="edit">edit_note</mat-icon></span>
      </mat-card>
      <mat-card class="items">
        <span><mat-checkbox class="example-checkbox"> Buy Paneer Pizza </mat-checkbox></span>
        <span><mat-icon matSuffix class="delete">delete_outline</mat-icon></span>
        <span> <mat-icon matSuffix class="edit">edit_note</mat-icon></span>
      </mat-card>
      <mat-card class="items">
        <span><mat-checkbox class="example-checkbox"> Buy Vegetables </mat-checkbox></span>
        <span><mat-icon matSuffix class="delete">delete_outline</mat-icon></span>
        <span> <mat-icon matSuffix class="edit">edit_note</mat-icon></span>
      </mat-card>
      <mat-card class="items">
        <span><mat-checkbox class="example-checkbox"> Buy Vegetables </mat-checkbox></span>
        <span><mat-icon matSuffix class="delete">delete_outline</mat-icon></span>
        <span> <mat-icon matSuffix class="edit">edit_note</mat-icon></span>
      </mat-card>
    </ng-container>
    <section>
      <div class="example-button-row">
        <button mat-button color="warn">Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
      </div>
    </section>

    </mat-card-content>
    </div>
  </mat-card>
</div>

