
<div class="card-container">
  <mat-card class="main-div">
  <div class="card-top">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>GROCERY LIST</mat-card-title>
      <mat-card-subtitle>{{date | date:'longDate'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-form-field appearance="legacy" [style.width.px]=400>
          <mat-label>Add items to the list</mat-label>
          <input matInput placeholder="Placeholder">

          <mat-icon matSuffix>add_task</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <mat-card>
        Simple card
      </mat-card>
    </mat-card-content>
    </div>
  </mat-card>
</div>

