
.card-container {
  margin:auto;
  height:90vh;
  width:100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-div{
max-width: 450px;
height:600px;
width:100%;
border-radius: 2%;
}

.header-image {
  background-image: url('/assets/img/grocery.jpg');
  background-size: cover;
}

.card-top{
  padding: 20px;
}





